@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}

:root {
  --color-primary: #232536;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--color-primary);
}

h1 {
  font-size: 56px;
  font-weight: 900;
  margin-top: 0;
}
h2 {
  font-size: 48;
  font-weight: 600;
}
h4 {
  font-size: 16;
  font-weight: 500;
}
h3 {
  font-size: 36;
  font-weight: 500;
}

p {
  font-size: 16px;
  margin-top: 0;
  padding: 30px 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 500;
}
.conteiner {
  max-width: 1600px;
  width: 100%;
}
.about-section-accent {
  font-size: 36px;
  font-weight: 600;
}
a {
  color: white;
}

/* header */
header {
  background-color: var(--color-primary);
  color: white;
  padding: 50px;
}
.header-list {
  padding: 30px;
}
.header-list > img {
  max-width: 30px;
}
.nav-flex {
  display: flex;
}
.header-list-flex {
  display: flex;
  flex-grow: 1;
  gap: 48px;
  justify-content: center;
}
.header-content-flex {
  display: flex;
  align-items: center;
  padding: 40px;
}
.header-items-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
